.footer {
  text-align: center;
  background-color: #252627;
  color: white;
  padding: 1rem;
  position: relative;
  width: 100%;

  &__logo {
    color: white;
  }

  &__logo:hover {
    text-decoration: none;
    color: white;
  }
}

@media (max-width: 768px) {
  .footer {
    position: initial;
    bottom: 0;
    margin-top: 100px;
  }
}
