.form {
  display: flex;
  flex-direction: column;
  background-color: #fffffc;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  margin-top: 2em;

  &__btn {
    background-color: #d00000;
    color: white;
    border: none;
    padding: 0.5rem;
    margin-top: 1rem;
    font-weight: bold;
    width: 100%;
  }

  input,
  textarea {
    border: 1px solid lightgrey;
    padding: 0.5rem;
    width: 100%;
    outline-width: 0;
    border-radius: 5px;
  }

  label {
    padding: 10px 0px 10px;
    font-weight: 500;
  }

  &__error {
    background-color: #ffc4c4;
    padding: 0.5em;
    margin-top: 10px;
    border: 1px solid black;
  }
}

.loginError {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}
