.hotel {
  display: flex;

  &__left {
    float: left;
    width: 50%;
    padding: 1.5em;
  }

  &__right {
    float: right;
    width: 50%;
    padding: 1.5em;
  }
  &__dates {
    display: flex;
  }

  &__dateContainer {
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.bookingForm {
  box-shadow: 10px 10px 25px -1px rgba(0, 0, 0, 0.11);
  height: 100%;
  background-color: #fffffc;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
